<!DOCTYPE html>
<html lang="en">

  <head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Tech Project</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
 
  </head>

  <body style="font-size: 1.7rem">
    
    <nav class="navbar navbar-expand-sm bg-light navbar-light fixed-top" role="navigation">
      <a class="navbar-brand" href="#">Tech.Net</a>
         <!-- <div class="navbar-header">
            <h1 class="navbar-brand" href="#">Tech.net</h1>
          </div> -->
                
            <ul class="nav navbar-nav nav justify-content-center">
              <li class="nav-item active"><a class="nav-link" href="#">Home</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Our Story</a></li>
              <li class="nav-item"><a class="nav-link" href="#">The Basics</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Office Products</a></li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  More Links
                </a>
              <ul class="dropdown-menu" style='font-size: .75em'>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </ul>
          
        <form class="form-inline" action=" ">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" style="font-size: .75em">
          <button class="btn btn-success fa fa-search" type="submit"></button>
        </form>
          
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="fa fa-user"></span> Sign Up</a></li>
          <li><a href="#"><span class="fa fa-sign-in"></span> Login</a></li>
        </ul>
      </nav>

    <div class="row">
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
  </body>

</html>