// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  margin: 0;
  padding: 0;
}

html, body {
  overflow-x:hidden;
  width:100%;
  height: 100%;
}

.nav-item {
  padding: 0 6px 0 6px;
}

.nav-item a:hover {
  background-color: #474646 !important;
  border-radius: 5px;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.fixed-top {
  border-radius: 0px;
  left: 0;
  right: 0;
}

.stayright {
  poistion: relative;
  right: -200px;
}

.night-mode-button {
  position: relative;
  float: right;
  border-radius: 5px;
  background-color: #063989;
  top: -50px;
  right: -50px;
  color: white;
}

.content.-nightmode {
  & {
    // Ensures that night mode colors are black and white
    background: #000 !important;
    color: #333 !important;
  }  
  .content-inner, .footer, img, video, .tohide {
    & {
      -webkit-filter: invert(1) hue-rotate(180deg);
      filter: invert(1) hue-rotate(180deg);    
    }    
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 32px;
  line-height: 20px;
  background-color: #f5f5f5;
}

.tohide {
  display: block;
  border: 1px solid black;
  background-color: #e2ecff;
  position: relative;
  z-index: 100;
  top: -280px;
  left: 50px;
  width: 400px;
  height: 100px;
}
